.username, .password, .btn-login{
 display: flex;
}
.usericon, .lock{
 width: 25px;
 padding-left: 3px;
 padding-top: 3px;
}
.eye{
 width: 25px;
 padding-right: 3px;
 padding-top: 3px;
}
.login-icon{
 margin-left: -30px;
 width: 28px;
 margin-top: 3px;
}